SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AF7120802", SYMLINK+="leader_arm_1", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AF7120761", SYMLINK+="follower_arm_1", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d3", ATTRS{serial}=="5AF7120765", SYMLINK+="follower_arm_2", MODE="0666"

# LeRobot Camera Rules
# Note: Cameras share Serial "SN0001", so we use physical port paths (KERNELS).
# If you plug cameras into different ports, you MUST update these paths!

# Top View Camera (Video 2) -> Port 1-1.3
SUBSYSTEM=="video4linux", KERNELS=="1-1.3", ATTR{index}=="0", SYMLINK+="top_cam_1", MODE="0666"

# Robot Camera (Video 4) -> Port 1-1.4
SUBSYSTEM=="video4linux", KERNELS=="1-1.4", ATTR{index}=="0", SYMLINK+="follower_cam_1", MODE="0666"
